@use '../colours';
@use './sidebar';

.sidebar-play-container {
  position: relative;
  min-height: sidebar.$option-height;
  width: 100%;

  display: grid;
  place-items: center;

  margin-top: 20px;

  @include sidebar.sidebar-separator;
}

.sidebar-play {
  width: 70%;
  height: 70%;

  display: flex;
  flex-flow: row nowrap;
  gap: 4px;

  & button {
    border: none;
    background-color: colours.$interact-green-shade;
    border-radius: sidebar.$play-inner-radius;

    padding-top: 1px;

    &:hover {
      background-color: colours.$interact-green;
    }

    &:active {
      transform: translateY(2px);
    }
  }
}


.sidebar-play-main {
  flex-grow: 1;
  // TODO: uncomment this when the alt-play button is implemented
  // border-top-left-radius: sidebar.$play-outer-radius !important;
  // border-bottom-left-radius: sidebar.$play-outer-radius !important;
  border-radius: sidebar.$play-outer-radius;

  & label {
    color: colours.$text-light-primary;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.sidebar-play-alt {
  flex-basis: sidebar.$play-alt-width;
  max-width: sidebar.$play-alt-width;
  border-top-right-radius: sidebar.$play-outer-radius !important;
  border-bottom-right-radius: sidebar.$play-outer-radius !important;

  &::before {
    content: '';
    display: block;
    border-top: 3px solid white;
    border-right: 3px solid white;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    margin-top: 23px;
    margin-left: -3px;
  }
}