@use '../colours' as *;

@mixin mods-default {
    font-style: normal;
    font-weight: 350;
    font-size: 20px;
    line-height: 24px;
    color: $text-light-secondary;
}

@mixin mods-selected {
    color: $text-light-primary;
    font-weight: 400;
}


.mods-container {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    background-color: transparent;
}

.mods-selectors {
    display: flex;
    flex-direction: row;

    min-height: 50px;
    margin-bottom: -2px; // Merge selectors and list borders seamlessly

    & .mods-filler {
        min-width: 0;
        flex-grow: 1;
        border-bottom: 4px solid $bg-primary-tint;
    }

    & button {
        @include mods-default;

        text-align: center;

        border-color: $bg-primary-tint;
        border-bottom: 4px solid $bg-primary-tint;
        
        $--border-radius: 25px;

        border-top-left-radius: $--border-radius;
        border-top-right-radius: $--border-radius;

        max-width: 240px;
        min-width: 240px;

        &.selected {
            @include mods-selected;

            border: 2px solid $bg-primary-tint;
            border-bottom-color: transparent;

            background-color: $bg-primary;
        }

        & label {
            cursor: pointer;
        }

        &:hover {
            background-color: $bg-primary;
        }
    }
}

.mods-list-container {
    background-color: $bg-primary;
    flex-grow: 1;

    border: 2px solid $bg-primary-tint;
    border-top: 0 solid;
    padding: 0 10px 10px 10px;

    overflow-y: scroll;
}

@mixin mods-list-generic {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mods-list {
    @include mods-list-generic;

    min-height: 100%;
}

.mods-filter {
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;

    background-color: $bg-primary;

    display: flex;
    gap: 8px;
    justify-content: space-between;

    .search {
        outline: none;
        width: 300px;
        height: fit-content;
        padding: 2px 8px;
        cursor: text;
        flex-grow: 1;

        margin: auto 0;

        display: flex;
        justify-content: start;

        background: linear-gradient(to left, $bg-primary-shade 50%, $bg-primary 51%);
        background-size: 250% 250%;
        background-position-x: 0;

        transition: all 100ms ease-in-out;

        &:hover {
            background-color: $bg-primary-tint;
        }

        & {
            i {
                color: $text-light-secondary;
                display: grid;
                place-items: center;
            }
            input {
                background: transparent;
                color: $text-light-secondary;
                margin-left: 8px;

                flex-grow: 1;

                outline: none;
                overflow: scroll;
            }
        }

        &.active {
            background-position-x: -80%;

            & {
                i {
                    color: $text-light-primary;
                }
                input {
                    color: $text-light-primary;
                }
            }
        }
    }

    .sorting {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        margin-right: 8px;

        .cancel {
            width: 27px;
            height: 27px;
            color: $text-light-primary;
            display: grid;
            place-items: center;
            border-radius: 9999px;

            &:hover {
                background-color: $bg-primary-tint;
            }
        }
        .dropdown {
            height: 30px;
            padding: 0 8px 0 4px;
            outline: 0;
            border: 0;
            background: transparent;
            color: $text-light-primary;
            cursor: pointer;

            &.active {
                background-color: $bg-primary-shade;
            }

            option {
                cursor: pointer;
                background-color: $bg-primary-shade;
            }
        }
        .direction {
            height: 30px;
            width: 30px;

            color: $text-light-primary;
        }
    }
}


@mixin detail {
    font-size: 1em;
    color: $text-light-primary;
    align-self: center;
}

@mixin detail-dull {
    @include detail;
    font-size: 0.9em;
    color: $text-light-secondary;
}

@mixin detail-bold {
    @include detail;
    font-weight: 500;
}

@mixin mods-box-generic {
    background-color: transparent;
    border-radius: 2px;

    display: flex;
    flex-direction: column;

    & + & {
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $bg-primary-tint;
            margin-top: -6px;
        }
    }
}