$bg-primary: #1e2224;
$bg-primary-shade: #1a1e20;
$bg-primary-tint: #35383a;

$bg-secondary: #c9c9c9;
$bg-secondary-tint: #e9e9e9;

$text-light-primary: #ffffff;
$text-light-secondary: #787878;

$text-dark-primary: #222222;
$text-dark-secondary: #444444;

$interact-green: #178754;
$interact-green-shade: #0F5736;
$interact-dull: #454545;
$interact-dull-shade: #353535;