$bg-primary: #1e2224;
$bg-primary-shade: #1a1e20;
$bg-primary-tint: #35383a;

$text-light-primary: #ffffff;
$text-light-secondary: #787878;

$text-dark-primary: #222222;
$text-dark-secondary: #444444;

$interact-green: #178754;
$interact-green-shade: #077744;