@use './colours' as *;

.settings-container {
    height: 100%;
    background-color: $bg-primary;

    border: 2px solid $bg-primary-tint;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px;

    overflow: scroll;

    &::-webkit-scrollbar-thumb {
        border-radius: 0;
    }

    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
    }

    &::-webkit-scrollbar-corner {
        background: $bg-primary;
    }

    .settings-links
    {
        font-size: 30px;
        i {
            width: 32px;
        }
        a {
            margin-left: 4px;
            margin-right: 4px;
            color: $text-light-primary;
            text-align: center;
            &:hover {
              color: $text-light-secondary;
            }
        }
    }

    .setting {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 0 20px;

        div {
            margin-bottom: 8px;
        }

        h5 {
            font-weight: 500;
            font-size: larger;
            margin-bottom: 5px;
            &.setting-detail {
                color: $text-light-secondary;
                font-size: 0.8em;
            }
        }

        label {
            margin-left: 16px;
        }
        
        .path {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;

            .input-text {
                width: 100%;
                border-radius: 3px !important;
                margin-right: 10px;
            }
        }

        .button {
            background-color: white;
            border-radius: 3px;
        }

        .warning {
            font-weight: 600;
            font-size: 1.2em;
            color: yellow;
        }

        .error {
            font-weight: 600;
            font-size: 1.2em;
            color: red;
        }
    }
}