@use './colours' as *;

.settings-container {
    height: 100%;
    background-color: $bg-primary;

    border: 2px solid $bg-primary-tint;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px;

    overflow: scroll;

    &::-webkit-scrollbar-thumb {
        border-radius: 0;
    }

    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
    }

    &::-webkit-scrollbar-corner {
        background: $bg-primary;
    }


    .setting {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        label {
            font-weight: 500;
            margin-bottom: 5px;
        }
        
        .path {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;

            .input {
                width: 85%;
                border-radius: 3px !important;
                margin-right: 10px;
            }
            .button {
                background-color: white;
                border-radius: 3px;
            }
        }
    }
}